.pageName {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    text-align: center
}

.back-to-home-button {
    padding: 10px 10px;
    background: blue;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    user-select: none;
    border-radius: 8px;
}

.go-to-posts-button {
    padding: 10px 10px;
    background: blue;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    user-select: none;
    border-radius: 8px;
}